<!-- Lists:
patients
number of appointments they have -->
<%= @patients.each do |f| %>
  <ul>
    <li>Name: <%= f.name %></li>
    <li>Number of Appointments: <%= f.total_appointments %></li>
    <br>
  </ul>
<% end %>
